body {
  color: black;
  text-align: center;
  background-color: #ffb3cc;
  font: 13px arial, sans-serif;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: white;
}

a:active {
    background-color: red;
}
